{{ form_start(form) }}
<div class="card">
	<div class="card-body">

		<section>	
			<div class="row">
            <div class="col-sm-6 col-md-3">
                <small class="text-muted">Nombre *</small>
                {{form_row(form.nombre,{'label':false,'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-sm-6 col-md-3">
                <small class="text-muted">Rut </small>
                {{form_row(form.rut,{'label':false,'attr':{'class':'form-control'}})}}
            </div>
             <div class="col-sm-6 col-md-3">
                <small class="text-muted">Correo </small>
                {{form_row(form.correo,{'label':false,'attr':{'class':'form-control'}})}}
            </div>
             <div class="col-sm-6 col-md-3">
                <small class="text-muted">Telefono </small>
                {{form_row(form.telefono,{'label':false,'attr':{'class':'form-control'}})}}
            </div>
             <div class="col-sm-6 col-md-3">
                <small class="text-muted">Celular </small>
                {{form_row(form.celular,{'label':false,'attr':{'class':'form-control'}})}}
            </div>
            <div class="col-sm-12 col-md-9">
                <small class="text-muted">Dirección </small>
                {{form_row(form.direccion,{'label':false,'attr':{'class':'form-control'}})}}
            </div>

        <button class="btn btn-primary">{{ button_label|default('Crear') }}</button>
        </section>
    </div>
</div>
{{ form_end(form) }}
