{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}

    <div class="card">

        <div class="card-body">
            {% if modo == 1 %}
        <a href="{{path('producto_new')}}" class="btn btn-primary" id="btn-agregar"><i class="fas fa-plus"></i></a>
            <a href="{{path('producto_index',{'modo':'trash'})}}" class="btn btn-danger"><i class="fas fa-trash"></i> {{pagina|default('Item')}} Eliminados</a>
        {% else %}
            <a href="{{path('producto_index')}}" class="btn btn-success"><i class="fas fa-trash-restore"></i>  {{pagina|default('Item')}} Activos</a>
        {% endif %}
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(productos,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
                'position': 'centered',
                'rounded': true,
                }) }}
            </div>
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>{{ knp_pagination_sortable(productos, 'Codigo', 'codigo') }} {% if productos.isSorted('codigo') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(productos, 'Nombre', 'nombre') }} {% if productos.isSorted('nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(productos, 'Cantidad Paquete', 'cantidadPaquete') }} {% if productos.isSorted('cantidadPaquete') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        
                        <th>{{ knp_pagination_sortable(productos, 'Stock Minimo', 'stockMinimo') }} {% if productos.isSorted('stockMinimo') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    <tr>
                        
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.cantidadPaquete }}</td>
                        
                        <td>{{ producto.stockMinimo }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                {{ include('producto/_delete_form.html.twig',{'producto_id':producto.id}) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No hay {{pagina|default("Items")}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(productos,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
                'position': 'centered',
                'rounded': true,
                }) }}
            </div>
        </div>
    </div>



<script>


    $(".pCrear").click(function(){

        $.ajax({
            url:"{{path('producto_new')}}",
            type: "get",
            dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            success:function(data){ 
                $(".modal-content").html(data);
                $('#controlesModal').modal();

            }
        });
    });


</script>
{% endblock %}
