{% extends 'base.html.twig' %}

{% block title %}New Receta{% endblock %}

{% block body %}
  

<div class="card">
	<div class="card-header">
        Cabezera
    </div>

    <div class="card-body">

		<section>	
			
			<div class="row">

                <div class="col-sm-6 col-md-4">
					<small class="text-muted">Cliente</small>
					{{pedido.cliente}}
				</div>
                
            </div>

</section>
    </div>
	
</div>

<div class="row">
	<div class="col-sm-12 col-md-8">
		<div class="card">
			<div class="card-header">
				Detalle
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-md-4 border p-3">
						<small class="text-muted">Código Producto</small>
						<input type="text" class="form-control iCodigo">
					</div>
					<div class="col-sm-6 col-md-4 loading">
						
					</div>
				</div>
				
				<section>	
				<div class='panel'>
					{{ form_start(form) }}
					<div class="row">
						<div class="col-sm-12 col-md-8">
							<div class="row">
								<div class="col-sm-12 col-md-6">
									<small class="text-muted">Producto</small>
									{{form_row(form.producto,{'label':false,'attr':{'class':'form-control iProducto'}})}}
								</div>
                                <div class="col-sm-6 col-md-4">
									<small class="text-muted">Medida</small>
									{{form_row(form.pedidoMedida,{'label':false,'attr':{'class':'form-control'}})}}
								</div>
								<div class="col-sm-6 col-md-2">
									<small class="text-muted">Cantidad</small>
									{{form_row(form.cantidad,{'label':false,'attr':{'class':'form-control iCantidad'}})}}
								</div>
							
							</div>
						</div>
						<div class="col-sm-6 col-md-4 p-4">
								<button class="btn btn-primary">{{ button_label|default('Agregar') }}</button>
						</div>
					</div>
					{{ form_end(form) }}
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Código</th>
									<th>Nombre</th>
									<th>Medida</th>
									<th>Cantidad</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
							{% set total=0 %}
							{%  for pedidoDetalle in pedido.pedidoDetalles  %}
								
								<tr>
									<td>{{pedidoDetalle.producto.codigo}}</td>
									<td>{{pedidoDetalle.producto.nombre}}</td>
									<td>{{pedidoDetalle.pedidoMedida}}</td>
									<td>{{pedidoDetalle.cantidad}}</td>
									<td>
									{{ include('pedido/_deleteDetalle.html.twig',{'pedido_detalle_id':pedidoDetalle.id}) }}
									</td>
								</tr>
								
								
							{% endfor %}

							</tbody>
							</tfoot>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									
									<th></th>
									<th>
									
									</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</section>
			</div>
			
		</div>    	
	</div>
	
	<div class="col-12">
		<div class="card">
			<div class="card-footer " style="v-align:center !important">

				<div class="row">
					<a href="{{path('pedido_end',{'id':pedido.id})}}" class="btn btn-primary">Finalizar</a> <a href="{{path('pedido_end',{'id':pedido.id,'next':'next'})}}" class="btn btn-success">Finalizar y Nuevo</a>
				</div>	

			</div>
		</div>	
	</div>
</div>

<script>

	$(".iProducto").prepend('<option > Seleccionar Producto </option>');
	$('.iProducto option:first-child').attr("selected", "selected");
	$(".iCodigo").focus();

	$(".iCodigo").on('keypress',function(e) {


		if(e.which == 13) {
			 $.ajax({
				url:"{{path('producto_codigo')}}",
				type: "get",
				data: "codigo="+$(".iCodigo").val(),
				dataType: "html",
				cache: false,
				contentType: false,
				processData: false,
				async: true,
				beforeSend: function(){
                        $(".loading").html(' <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>');
                        
                    },
				success:function(data){ 
					var obj = jQuery.parseJSON(data);
					if(obj.status){
						$.ajax({
							url:"{{path('pedido_panel',{'id':pedido.id})}}",
							type: "get",
							data: "producto="+obj.producto.id,
							dataType: "html",
							cache: false,
							contentType: false,
							processData: false,
							async: true,
							success:function(data){
                                $(".loading").html(' ');
								$(".panel").html(data);
								$(".iCantidad").focus();

							}

						});
					}else{
                         $(".loading").html('<div class="alert alert-danger" role="alert">El codigo no existe! <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    }
				}
			});
		}
	});
</script>
  
{% endblock %}