{% block body %}

 
		{{ form_start(form) }}
			<div class="row">
            <div class="col-sm-6 col-md-4">
					<small class="text-muted">Nombre Producto</small>
					{{form_row(form.producto,{'label':false,'attr':{'class':'form-control'}})}}
				</div>
				
				<div class="col-sm-6 col-md-2">
					<small class="text-muted">Cantidad</small>
					{{form_row(form.cantidad,{'label':false,'attr':{'class':'form-control'}})}}
				</div>
				<div class="col-sm-6 col-md-2">
					<small class="text-muted">Valor</small>
					{{form_row(form.valor,{'label':false,'attr':{'class':'form-control'}})}}
				</div>
				<div class="col-sm-6 col-md-2">
					<small class="text-muted">Almacen</small>
					{{form_row(form.almacen,{'label':false,'attr':{'class':'form-control'}})}}
				</div>
				<div class="col-sm-6 col-md-2" style="vertical-align:bottom">
							<button class="btn btn-primary">{{ button_label|default('Agregar') }}</button>
				</div>
			</div>
		
		{{ form_end(form) }}
			

{% endblock %}